type netmgrd, domain;
type netmgrd_exec, exec_type, file_type;

net_domain(netmgrd)
init_daemon_domain(netmgrd)

set_prop(netmgrd, net_radio_prop)

# communicate with netd
unix_socket_connect(netmgrd, netd, netd)

allow netmgrd self:socket create_socket_perms_no_ioctl;
allow netmgrd netmgrd_socket:dir w_dir_perms;
allowxperm netmgrd self:udp_socket ioctl priv_sock_ioctls;

allow netmgrd sysfs_net:file w_file_perms;
allow netmgrd sysfs_net:dir r_dir_perms;
allow netmgrd proc_net:file w_file_perms;
allow netmgrd net_data_file:dir r_dir_perms;
allow netmgrd netmgr_data_file:file rw_file_perms;
allow netmgrd system_file:file execute_no_trans;

allow netmgrd self:capability { net_admin setuid };

allow netmgrd toolbox_exec:file rx_file_perms;

userdebug_or_eng(`
permissive netmgrd;
')
