type rfs_access, domain;
type rfs_access_exec, exec_type, file_type;

init_daemon_domain(rfs_access)

allow rfs_access persist_file:file rw_file_perms;
allow rfs_access persist_file:dir { getattr setattr remove_name add_name search };

allow rfs_access self:capability { chown };
allow rfs_access self:capability2 { block_suspend };

allow rfs_access self:socket create_socket_perms_no_ioctl;

userdebug_or_eng(`
permissive rfs_access;
')
