binder_call(rild, per_mgr)

allow rild qmuxd_socket:dir w_dir_perms;
allow rild qmuxd_socket:sock_file create;

allow rild socket_device:sock_file write;
unix_socket_connect(rild, netmgrd, netmgrd)

allow rild self:socket ioctl;
allowxperm rild self:socket ioctl { IPC_ROUTER_IOCTL_LOOKUP_SERVER };
