# Policy for sensor daemon
type sensors, domain;
type sensors_exec, exec_type, file_type;

init_daemon_domain(sensors)

allow sensors self:socket rw_socket_perms_no_ioctl;

userdebug_or_eng(`
permissive sensors;
')
