allow tee self:capability { chown setgid setuid sys_admin sys_rawio };

allow tee device:dir r_dir_perms;

allow tee block_device:dir { getattr search };
allow tee sdd_block_device:blk_file rw_file_perms;
allow tee sg_device:chr_file { rw_file_perms setattr };
