type thermal-engine, domain;
type thermal-engine_exec, exec_type, file_type;

init_daemon_domain(thermal-engine)

allow thermal-engine sysfs_thermal:dir r_dir_perms;
allow thermal-engine sysfs_thermal:file rw_file_perms;

allow thermal-engine self:socket create_socket_perms;
allowxperm thermal-engine self:socket ioctl msm_sock_ipc_ioctls;

userdebug_or_eng(`
permissive thermal-engine;
')
