# zygote need to be started after otapreopt which will be done on post-fs-data
on zygote-start
    # zygote is started in common init.rc
    # and now we can continue to initialize /data/
    # create the directory for preload content.
    mkdir /data/preloads 0775 system system
